/* || General styles */

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url("./assets/burger-friends.jpg");
  background-size: cover;
}

* {
  font-family: 'Roboto', sans-serif;
  color: black;
}

/* || UTILITIES */

.hidden {
  display: none;
}

/* || Typography */

p {
  text-align: center;
}

.x-large {
  font-size: x-large;
  font-weight: 900;
}

.xx-large {
  font-size: xx-large;
  font-weight: 900;
}

.whats-for {
  font-size: 1.3rem;
  font-weight: 900;
  margin: 0px 0px 0px 6px;
  text-align: center;
}

.italic {
  font-size: medium;
  font-style: italic;
}

sup {
  color: #ee5253;
}

/* || Header Main & Footer */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0fb9b1;
  padding: 15px;
}

main {
  flex: 1 0 auto;
  display: flex;
  justify-content: space-around;
}

section.both-boxes {
  margin: 43px 0px 0px 0px;
  padding: 40px;
  background-color: rgba(225, 225, 225, .9);
  width: 29%;
  height: 45%;
}

footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  background-color: rgba(225, 225, 225, .9);
  padding: 15px;
}

/* || Buttons */

button {
  display: inline;
  text-transform: uppercase;
  text-align: center;
  border: none;
  font-size: small;
  border-radius: 3px;
  padding: 8px;
}

.add-recipe-button {
  background-color: #efefef;
  margin: 0px 6px 0px 0px;
}

.clear-button {
  background-color: #95a5a6;
  color: white;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.form-button {
  display: inline;
  text-transform: uppercase;
  text-align: center;
  border: none;
  font-size: small;
  background-color: #0fb9b1;
  border-radius: 5px;
}

.lets-cook-button {
  margin: 10px 0px 0px 0px;
  padding: 8px 50px;
}

.add-new-button {
  margin: 0px 6px 0px 0px;
  padding: 8px;
}

.looking-for {
  margin: 20px 0px 10px 0px;
}

.zero-margin {
  margin: 0;
}

.shift-right {
  padding: 9px 0px;
}

.right-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.crockpot {
  max-width: 30%;
}

.input-text-box {
  height: 30px;
  width: 20%;
  margin: 0px 20px 0px 2px;
  border-width: 1px;
  border-radius: 3px;
  border-color: #ee5253;
}
